## General

*.pyc
__pycache__/
.ropeproject/

*.pkl
*.npy

*.ipynb_checkpoints

.envrc

## Project

*.pth

/notebooks/*wild.ipynb
/experiments
ckpt/cifar10/corruptions/Standard.pt
data/
ckpt/
data/
ckpt/
robustbench_backup/
